<!DOCTYPE html>
<html>
<head>
  <title>Depot</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<<<<<<< HEAD
<%= yield %>
=======
<div id="banner">
	<%= image_tag "logo.png" %>
	<%= @page_tilte || "Pragmatic Bookshelf" %>
</div>

<div id="columns">
	<div id="side">
		<a href="">Home</a><br />
		<a href="">Questions</a><br />
		<a href="">News</a><br />
		<a href="">Contact</a><br />
	</div>
	<div id="main">
		<%= yield %>
	</div>
</div>
>>>>>>> parent of d864259... Revert eec80381fd4ca9f89fd0d227b63f52aaf0355b47^..HEAD

</body>
</html>
